@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.jumbotron.bg-cover {
        /*background-image: url("dreamBalloon.jpg");*/
        background-color: #009999;
        opacity: 1;
        background-size: cover;
  		padding: 5em inherit;
  		height: 100vh;
  		color:white;
  		margin-top: 0px;
  		width: 100wh
    }

 ./*jumbotronText {
 		color: white;
 }*/

/*.jumbotron {
	height:100vh;
}*/
body{
	margin-right:-200px;
	padding:0;
	box-sizing: border-box;
	border:none;
	overflow-x: hidden;
}
#main{
	width:100%;
	margin:0;
}
.jumbotron.bg-cover h1{
	/*position: relative;
	left: 350px;*/
	float: left;
	color:white !important;
}

/*.navbar .navbar-default{
	position: fixed;
}*/

#navMaster{
	/*position: fixed;*/
	width: 100%;
	margin:0;
}

#logo {
  /* font-family: "Cookie"; */
  font-family: "Roboto Mono";
  font-size: 40px;
  letter-spacing: 3px;
  color: white;
  font-weight: 600;
}

.navbar-default .navbar-nav>li{
	background-color: transparent;
}

.navbar.navbar-default{
	margin-bottom: 0px;
}

.navbar-default .nav.navbar-nav > li > a {
  font-family: "Roboto Mono";
  font-weight: 600;
  font-size: 20px;
  padding-left: 40px;
  /*color: #F72585;*/
  /* color: #b5179e; */
  color: #f72585;
}

.navbar-default .nav.navbar-nav > li > a:hover {
  color: #ffa9cf;
  /*color: #B5179E;*/
}

.navbar-default .nav.navbar-nav .activeLink{
	color: #7209B7;
}

/*.navbar-default .nav.navbar-nav>li>a:focus {
    
	color: #7209B7;
}*/


.navbar.navbar-default {
  /*border-color: #D2F2FB;
	    border-top-color: #D2F2FB;
*/
  border-bottom: 1px solid black;
  /*background-color: #D2F2FB;*/
  background-color: #1D3461;
  /*opacity: 0.8;*/
}

.mediaIcons {
  display: inline-block;
  border-radius: 50%;
  /* background-color: #b5179e; */
  background-color: #f72585;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 15px;
  text-align: center;
  color: white;
  padding-top: 5px;
}

.mediaIcons:hover{
	opacity: 0.9;
}

.carousel-inner{
	width:100%;
	max-height:100%;
}
/*.carousel-inner.item.active{
	width:100%;
	max-height:100%;
}*/

.carousel-inner img{
	width: 100%;
	height: 100%;
	max-height: 100%;
}


#carousel-example-generic{
	background-color: red;
	height: 90vh;
	position:relative;
	top:50px;
	
}

.balloon{
	/*position: absolute;
	top: 500px;*/
	width: 378px;
	float: right;
	animation-name: drive;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

.orangeBalloon{
	/*position: static;*/
	/*top: 300px;*/
	width: 185px;
	float: right;
	animation-name: drive;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}


#statement-welcome {
  /* background-image: url("Images_for_Portfolio/techno.jpg"); */
  /* background-color: rgb(248, 143, 174); */
  background-image: url("Images_for_Portfolio/img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 100% bottom 50%;
  /*opacity: 0.6;*/
  height: 600px;
  width: 100%;
  margin: 0;
}

#statement-welcome-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 30%;
  /* background-color: #cd2f8e; */
  background-image: linear-gradient(
    rgba(205, 47, 142, 1),
    rgba(109, 122, 249, 1)
  );
  /* background-color: rgba(125, 130, 253, 0.6); */
  /* background-color: rgba(183, 79, 111, 1); */
  /*#95a2fe*/
  /*opacity: 1.0;*/
}


#statement-welcome-text {
  color: black;
  padding: 25px;
  padding-top: 50px;
  /*border-bottom: 5px solid white;*/
  /* border-bottom: 5px solid rgba(255, 255, 255, 0.6); */
  border-bottom: 5px solid #1D3461;
  font-family: "Roboto Mono";
  font-weight: 2000;
  letter-spacing: 2px;
}

#statement-welcome-paragraph {
  font-weight: 500;
  font-size: 30px;
  color: black;
  padding-left: 30px;
}

#aboutMe {
  height: 80vh;
  width: 100%;
  /* border-top: 5px solid #1D3461; */
  background-color: rgb(146, 156, 245);
  /*background-color: rgba(125, 130, 253, 0.61);*/
  /* background-image: linear-gradient(
    to right,
    rgba(125, 130, 253, 0.61),
    rgba(109, 122, 249, 1)
  ); */
  /* background-image: linear-gradient(
    rgba(109, 122, 249, 1),
    rgba(205, 47, 142, 1)
    
  ); */
}


#aboutMe h1 {
  font-family: "Roboto Mono";
  font-weight: 600;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 30px;
  /*padding-top: 30px;*/
  /*opacity: 0.7;*/
  /*position:relative;*/
  /*top:0px;*/
}

#profile-div {
	height: auto;
	/* height: 250px; */
	width: 250px;
	/*position: relative;
	top: 50px;
	left: 50px;
	display:inline-block;*/
	/*margin-bottom: 100px*/
	margin-left:100px;
	margin-top:50px;
	display: flex;
}

#profile-image {
	max-width: 100%;
	border-radius: 200px;
}

#bio{
	display:flex;
}

#about-me-text {
	/*float: right;*/
	/*display:inline-block;*/
	width:300px;
	height: auto;
	/*background-color: rgba(125, 130, 253, 0.73);*/
	/*position: relative;
	left: 300px;
	top:50px;*/
	margin-left:100px;
	border-radius: 10px;
}

#about-me-bio {
	padding: 20px;
	font-family: "Roboto Mono";
	font-weight: 500;
}

#podcast-bio {
	background-color: rgba(125, 130, 253, 1.0);
	border-radius: 10px;
	padding-left: 10px;
	margin-right: 5px;
}

#projects {
  height: 100%;
  width: 100%;
  /* background-color: rgba(125, 130, 253, 0.5); */
  background-color: rgb(161, 169, 246);
}

#projects h1{
	font-family: "Roboto Mono";
    font-weight: 600;
	margin-top: 0px;
	padding-top: 20px;
	padding-left: 30px;
	/*opacity: 0.7;*/
}

.opacityChangeDiv{
	animation-name: opacityChange;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.opacityChangeBackDiv{
	animation-name: opacityChange;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-direction: reverse;
	animation-fill-mode: forwards;
}

#welcomeText{
	text-align: center;
}

::selection {
	color: white;
	background: #b5179e;
}

#game-fluid {
	/*background-color: rgba(255, 0, 0, 1.0);*/
	width: 100%;
	height: 100%;
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
}

.game-container {
  position: relative;
  top: 20px;
  left: 20px;
  width: 200px;
  /*margin: 50px 100px;*/
  margin: 5px 100px 100px 100px;
}


.image {
  display: block;
  width: 225px;
  height: auto;
  box-shadow: 8px 0px 5px rgba(152, 101, 219, 0.55);
  /*border-radius: 15px;*/
}


#API-game-image-container {
	height: 334px;
	width: 240px;
}

#Trash-buddy-image-container {
	height: 334px;
	width: 240px;
}

#API-game {
	width: 100%;
	height: 100%;
}

.game-description-div {
	margin-top: 10px;
	width: 225px;
	height: 80px;
	background-color: rgba(114, 9, 183, 0.5);
	box-shadow: 8px 0px 5px rgba(152, 101, 219, 0.55);
	/*border-radius: 10px;*/
	/*border: solid black 2px;*/
}

#API-game-description-div {
	height: 120px;
	width: 245px;
}

#Care-game-description-div {
	height: 118px;
	width: 225px;
}

#Music-game-description-div {
	height: 118px;
	width: 225px;
}

#Trash-buddy-description-div {
	height: 180px;
	width: 240px;
}

#indianaHax-game-description-div {
  height: 220px;
  width: 230px;
}

.game-description-text {
	font-family: "Roboto Mono";
	color: white;
	text-align: center;
	padding: 10px;
}

#link-text {
	font-family: "Roboto Mono";
	color: white;
	text-align: center;
	text-decoration: none;

}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #b5179e;
  overflow: hidden;
  width: 250px;
  height: 0;
  transition: .5s ease;
}

.game-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  text-align: center;
  padding: 10px;
  word-wrap: break-word;
  /*white-space: nowrap;*/ 
  color: white;
  font-size: 20px;
  font-family: "Roboto Mono";
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
	body{
		font-size: 16px !important;
		background-color: red;
	}

	#bio{
	display:flex;
	flex-direction: column;

}
#aboutMe {
	height: auto;
	width: 100%;
	/*background-color: #e6ccff;*/
	/*background-color: rgba(125, 130, 253, 0.61);*/
	background-image: linear-gradient(to right, rgba(125, 130, 253, 0.61) , rgba(109, 122, 249, 1.0));
}

    
}





















@keyframes opacityChange{
	from{background-color:  #e6ccff;}
	to{background-color:  #b566ff;}
}

@keyframes drive{
	from{transform: translateY(0)}
	to{transform: translateY(-450px);}
}

